*
{
    padding: 0;
    margin: 0;
}

body
{
    /*background-image: url(https://krgames.com.br/medias/slide/big/13/img-2839-min.jpg);*/
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(37, 236, 37);
}

.wrap-card
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 6vh;
    margin-top: 6vh;
}

.categorias
{
    display: flex;
    flex-direction: row;
}

h4 
{
    font-size: xx-large;
}

.card
{
    background-color: rgb(235, 235, 235);
    margin-top: 25px;
    height: 606px;
    width: 300px;
    border: 2px solid rgb(97, 122, 97);
    color: rgb(134, 134, 134);
    font-family: "Rubik", sans-serif;
}

a
{
    background-color: green;
}

.card-img-top
{
    height: 300px;
    width: auto;
}

h2:hover
{
    cursor: pointer;
    color: rgb(71, 182, 71);
}

header
{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 155px;
    background-color: rgb(59, 58, 58);
    color: white;
    border: 1px solid rgb(67, 92, 67);
}

.logo
{
    height: 125px;
    width: 125px;
    background-color: black;
    margin-right: 70%;
    margin-top: -50px;
    border: 1px solid green;
    border-radius: 100%;
    opacity: 0.9;
    animation: show 1s linear;
}

@keyframes show
{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 0.9;   
    }
}

.barraPesquisa
{
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    width: 600px;
    text-align: center;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.links
{
    display: flex;
    gap: 50px;
    margin-top: -50px;
    flex-direction: row;
}

h4
{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size:x-large;
    color: white;
    border: none;
}

h4:hover
{
    cursor: pointer;
    color: rgb(16, 155, 16);
}

@media (width < 800px)
{
    .wrap-card
    {
        flex-direction: column;
        margin-top: 15vh;
    }

    header
    {
        height: 200px;
        align-items: center;
    }

    .links
    {
        margin-top: 2vh;
    }

    .logo
    {
        margin-top: 2vh;
        margin-left: 75vw;
        width: 110px;
        height: 110px;
    }

    .barraPesquisa
    {
        display: none;
    }
}