*
{
    padding: 0;
    margin: 0;
}

.itemScroll
{
    margin-top: 200px;
    background-repeat: no-repeat;
    background-color: grey;
    height: 27vh;
    width: 47.5vw;
    margin-left: 25vw;
}

.corpo
{
    /*background-image: url(https://krgames.com.br/medias/slide/big/13/img-2839-min.jpg);*/
    background-color: grey;
}

h2
{
    padding-top: 15%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30vh;
    color: whitesmoke;
    background-color: grey;
}

.headMenu
{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 155px;
    background-color: rgb(59, 58, 58);
    color: white;
    border: 1px solid rgb(67, 92, 67);
}

.logo
{
    height: 125px;
    width: 125px;
    background-color: black;
    margin-right: 65vw;
    margin-top: 10px;
    border: 1px solid green;
    border-radius: 100%;
    opacity: 0.9;
    animation: show 1s linear;
}

.logoWrap
{
    justify-content: left;
    align-items: left;
}

@keyframes show
{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 0.9;   
    }
}

.pesquisa
{
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    width: 600px;
    text-align: center;
    font-size: large;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btns
{
    display: flex;
    gap: 50px;
    margin-top: -50px;
    flex-direction: row;
}

h4
{
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    font-size:x-large;
    color: white;
    border: none;
}

h4:hover
{
    cursor: pointer;
    color: rgb(16, 155, 16);
}

.logoCorpo
{
    display: none;
}

.linkClick
{
    display: none;
}

.pesquisa
{
    display: none;
}

@media (width < 1000px)
{
    .logoCorpo
    {
        margin-top: 230px;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .imgCorpo
    {
        border: 1px solid green;
        border-radius: 100%;
        opacity: 0.9;
        animation: show 1s linear;
        width: 175px;
        height: 175px;
    }

    .headMenu
    {
        height: 200px;
        align-items: center;
    }

    .btns
    {
        margin-top: 2vh;
    }

    .logo
    {
        margin-left: 70vw;
        margin-top: 2vh;
        width: 110px;
        height: 110px;
    }

    .logoWrap
    {
        justify-content: center;
        align-items: center;
    }

    .linkClick
    {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        color: rgb(148, 235, 148);
        text-align: center;
    }


    input
    {
        display: none;
    }

    .itemScroll
    {
        display: none;
    }

    #imgScroll
    {
        height: 108px;
        width: 190px;
    }

    h2
    {
        display: none;
    }

    h1
    {
        color: white;
    }

}
